In [2]:
import pandas as pd
from data import create_pd

In [3]:
data=create_pd()

In [4]:
data.head()

        date  sales     time_series  month  year  day_of_week  day_of_year
0 2013-01-01     13  store_1_item_1      1  2013            1            1
1 2013-01-02     11  store_1_item_1      1  2013            2            2
2 2013-01-03     14  store_1_item_1      1  2013            3            3
3 2013-01-04     13  store_1_item_1      1  2013            4            4
4 2013-01-05     10  store_1_item_1      1  2013            5            5

In [5]:
concat_results = pd.concat(all_results,axis=0)
concat_results.head()

NameError: name 'all_results' is not defined